# Android / Gradle
*.apk
*.aab
*.dex
*.class

.gradle/
build/
**/build/

local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

.navigation/
captures/

.externalNativeBuild/
.cxx/

# Kotlin
*.kotlin_module

# Firebase
google-services.json

# Keystore
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
